/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
        width: 100%;
    }

    .wf1 select {
        background-color: #eee;
        display: block;
        border: solid 1px #999;
        border-radius: 0.2rem;
        color: #555;
        width: 100%;
        font-size: medium;
        padding: 0.6rem;
    }

    .check {
        font-style: italic
    }

    .wf1 textarea {
        padding: 3rem;
        border: 1px solid #CCCCCC;
        font-size: 1em;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
}
    
} /* end of media query */