@media (min-width: 860px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
	header {
		flex-direction: row;
	}
	#menu {
		display: none;
	}
	.navigation {
		flex-direction: row;
	}
	.navigation a {
		display: block;
		flex: 1 1 auto;
	}
}